@require "normalize.styl"

blue = #22a7f0

*
  box-sizing border-box

html
  font-size 62.5%

body
  font-family "Open Sans"
  background-color blue
  font-size 1.6rem
  color #fff

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before
.clearfix:after 
  content: " " /* 1 */
  display: table /* 2 */


.clearfix:after 
  clear: both

a
  text-decoration none
  color inherit

img
  max-width 100%
  height auto

h1
  font-family "Bangers"
  text-align center
  font-size 10rem
  margin 6.5rem 0 3rem 0

input[type=text]
  display block
  margin 2rem auto
  background blue
  border 0.5rem solid #fff
  padding 1rem
  &:focus
    outline none
    box-shadow 0 0 5px 2px #fff

input[type=submit]
  background blue
  border 0.5rem solid #fff

placeholder
  color: #fff

svg
  width 100%
  fill #fff

form
  text-align center

label
  display block
  font-size 3rem
  font-weight 700

.error
  text-align center
  .fa-close
    color #f00

.weather-heading
  text-align center

.weatherbox
  padding-bottom 6.5rem
  text-align center

.pressure
  text-align center

.daily-forecast
  width 14.25%
  display inline-block
  text-align center
  @media (max-width: 960px)
    width 25%
  @media (max-width: 550px)
    width 50%

.day
  display block